#!/usr/bin/env python
#
# (View definition for)
# building and pre-processing model with merged imports in python.
#

import yaml
import subprocess

def read_file(file: str) -> str:
    with open(file, "r") as file_obj:
        file_contents = file_obj.read()
    return file_contents

## Parameters

parameters = []
{% for parameter in parameters %}
### {{ parameter.description }}

parameter = {}
parameter["description"] = "{{ parameter.description }}"
parameter["variable"] = "{{ parameter.variable }}"
parameter["value"] = {{ parameter.value }}
parameter["unit"] = "{{ parameter.unit }}"
parameters.append(parameter)
{% endfor %}

## Constants

constants = []
{% for constant in constants %}
### {{ constant.description }}

constant = {}
constant["description"] = "{{ constant.description }}"
constant["variable"] = "{{ constant.variable }}"
constant["value"] = {{ constant.value }}
constant["unit"] = "{{ constant.unit }}"
constants.append(constant)
{% endfor %}

## Assumptions

assumptions = []
{% for assumption in assumptions %}
assumptions.append("{{ assumption }}")
{% endfor %}

## Analysis to be performed
analysis = []
{% for computation in analysis %}

### Merge imports
{% if 'imports' in computation %}
### load contents of {{ import_item }} and append to analysis
{% for import_item in computation.imports %}
import_items_split_on_colon = "{{ import_item }}".split(":")
cli_applet = import_items_split_on_colon[0]
element_path = import_items_split_on_colon[1]
# subprocess_result = subprocess.run(['npm', 'exec', '--', cli_applet, element_path], capture_output=True, text=True) # use this instead if calling CLI applet as a library
subprocess_result = subprocess.run(['./bin/' + cli_applet + '.js', element_path], capture_output=True, text=True)
file_contents = subprocess_result.stdout
file_contents_as_dict = yaml.safe_load(file_contents)
analysis.append(file_contents_as_dict)
{% endfor %}
{% endif %}

{% if 'description' in computation %}
computation = {}
computation["description"] = "{{ computation.description }}"
computation["variable"] = "{{ computation.variable }}"
computation["expression"] = "{{ computation.expression }}"
{% if 'unit' in computation %}
computation["unit"] = "{{ computation.unit }}"
{% endif %}
analysis.append(computation)
{% endif %}

{% endfor %}

## comments

comments = []
{% for comment in comments %}
comments.append("{{ comment }}")
{% endfor %}

## references

references = []
{% for reference in references %}
references.append("{{ reference }}")
{% endfor %}

## Other string fields
name = r"""{{ name }}"""
description = r"""{{ description }}"""
problemStatement_txt = r"""{{ problemStatement_txt }}"""
schematic_txt = r"""{{ schematic_txt }}"""

model_with_merged_imports = {
"name": name,
"description": description,
"problemStatement_txt": problemStatement_txt,
"assumptions": assumptions,
"parameters": parameters,
"constants": constants,
"schematic_txt": schematic_txt,
"analysis": analysis,
"comments": comments,
"references": references
}

print(yaml.dump(model_with_merged_imports, indent=2))

