#!/usr/bin/env python
#
# (View definition for)
# performing initial-boundary value problem in python
#
# References:
# - Fundamentals of Heat and Mass Transfer, 6e, p.261-263
#

from pint import UnitRegistry
from math import pi, log, exp, cos, sin
from sympy import sympify, latex
from scipy.interpolate import interp1d
import json

u = UnitRegistry(autoconvert_offset_to_baseunit = True)

## Parameters

{% for parameter in parameters %}
### {{ parameter.description }}
{{ parameter.variable }} = {{ parameter.value }} * u('{{ parameter.unit }}')
{% endfor %}

## Constants

{% for constant in constants %}
### {{ constant.description }}
{{ constant.variable }} = {{ constant.value }} * u('{{ constant.unit }}')
{% endfor %}

## Assumptions

assumptions = []
{% for assumption in assumptions %}
assumptions.append("{{ assumption }}")
{% endfor %}


## comments

comments = []
{% for comment in comments %}
comments.append("{{ comment }}")
{% endfor %}

## references

references = []
{% for reference in references %}
references.append("{{ reference }}")
{% endfor %}

## Other string fields
name = f"""{{ name }}"""
description = f"""{{ description }}"""
schematic_txt = f"""{{ schematic_txt }}"""

analysis_results = {
"name": name,
"description": description,
"problemStatement_txt": "",
"assumptions": assumptions,
"schematic_txt": schematic_txt,
"results": [],
"comments": comments,
"references": references
}

## Perform initial-boundary value problem

{% for computation in analysis %}
### {{ computation.description }}
{{ computation.variable }} = {{ computation.expression }}
{% if computation.unit %}
{{ computation.variable }}.ito('{{ computation.unit }}')
{% endif %}
computation_list_item = {
    "description": "",
    "computation": "",
}
description = "{{ computation.description }}"
try:
    latex_expression = "${}$".format(latex(sympify("{{ computation.expression }}")))
except:
    latex_expression = "{{ computation.expression }}"

try:
    computation_result = "${:L}$".format({{ computation.variable }})
except:
    computation_result = {{ computation.variable }}
computation = "{{ computation.variable }} = {0} = {1}".format(latex_expression, computation_result)
computation_list_item["description"] = description
computation_list_item["computation"] = computation
analysis_results["results"].append(computation_list_item)
{% endfor %}

problemStatement_txt = f"""{{ problemStatement_txt }}"""
analysis_results["problemStatement_txt"] = problemStatement_txt

print(json.dumps(analysis_results, indent=2))

