# {{ description }}

## Problem Statement

{{ problemStatement_txt }}

## Assumptions

{% for assumption in assumptions %}
- {{ assumption }}
{% endfor %}

## Schematic

{{ schematic_txt }}

## Analysis

{% for result in results %}
### {{ result.description }}

{{ result.computation }}

{% endfor %}

## Comments

{% for comment in comments %}
- {{ comment }}
{% endfor %}

## References

{% for reference in references %}
- {{ reference }}
{% endfor %}
