# {{ description }}

## Problem Statement

{{ problem_statement }}

## Assumptions

{{ assumptions }}

## Schematic

{{ schematic }}

## Analysis

{% for result in results %}
### {{ result.description }}

{{ result.computation }}

{% endfor %}

## Comments

{{ comments }}

