# {{ description }}

## Problem Statement

{{ problemStatement_txt }}

## Assumptions

{{ assumptions_txt }}

## Schematic

{{ schematic_txt }}

## Analysis

{% for result in results %}
### {{ result.description }}

{{ result.computation }}

{% endfor %}

## Comments

{{ comments_txt }}

